extend layout
block navbarcontent
    nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Explore
        ul.nav.navbar-nav.navbar-right
          li
            a(href='New_York') Home
          li
            a(href='/setting') Setting
          li
            a(href='/signout', class='text-center new-account') Sign Out

block content
    .image-block
      img(src="/static/img-1.jpg")
    h3
      | #{title}:
    p
      form(method="get", action="closest_company", class="form-inline")
          select(name="NAME")
            - for result in results
              option #{result}
          br
          br
          input(type='Submit', value='Show Companies', class="btn btn-success")

