doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      h3 Inline List
      ul.list-inline
        li
          a(href='New_York') Home
        li
          a(href='#') Menu 1
        li
          a(href='#') Menu 2
        li
          a(href='#') Menu 3

      p
      h3 Correlation between colleges and companies
      h5 Given a state abbr, find the cities with most colleges and companies.
      p
      form(method='get', action='/correlation')
        input(name='state', placeholder='Enter a state abbr' required)
        input(type='submit', value='Show Top Cities')
