doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Explore
        ul.nav.navbar-nav.navbar-right
          li
            a(href='New_York') Home
          li
            a(href='/setting') Setting
          li
            a(href='/signout', class='text-center new-account') Sign Out
    br
    br
    br
    br
    .container
      p
      h3 Query Correlation Between Colleges and Companies
      h5 Given a state abbr, find the cities with most colleges and companies.

      p
      form(method='get', action='/correlation')
        input(name='state', placeholder='Enter a state abbr' required)
        button(class='btn btn-primary btn-sm', type='submit') Show Top Cities
      p
      img(src="https://media.timeout.com/images/103444978/image.jpg" width="512" height="341")
