doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      #map {
      top: 150px;
      height: 400px;
      width: 100%;
      }
  body
    .container
      h3 Inline List
      ul.list-inline
        li
          a(href='New_York') Home
        li
          a(href='#') Menu 1
        li
          a(href='#') Menu 2
        li
          a(href='#') Menu 3
    h3 Query Correlation Between Colleges and Companies
    
    #map
    script.
      function initMap() {
        var results = !{JSON.stringify(results)};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom : 5,
        center: results[0]  // center at the first result
        });

        console.log(results);
        for(var i = 0; i< results.length; i++)
        {
           var pos = results[i];
           console.log(pos);
           var marker = new google.maps.Marker({position: pos,map: map});
        }
      }

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EficLF0ZQWEpJ-NqJFdWO5zTu8PeJ1o&callback=initMap')

