extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(href='../css/navbar-static-top.css', rel='stylesheet')
block body
    header
    // Static navbar
    +navbar-static("DISCOVER YOUR CITY","navbar")
        block navbarcontent
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            .main-content
                block content
            .sidebar
                block sidebar
    footer.footer
        .container
            p.text-muted FIND THE BEAUTY WITH OUR WEBSITE
