doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      #map {
      top: 150px;
      height: 400px;
      width: 100%;
      }
  body
    nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Explore
        ul.nav.navbar-nav.navbar-right
          li
            a(href='New_York') Home
          li
            a(href='/setting') Setting
          li
            a(href='/signout', class='text-center new-account') Sign Out
    br
    br
    br
    br

    .container
        p example search: Business
        form(method='get', action='/mongodb_query_result')
           input(name='text', value='')
           button(class='btn btn-sm btn-primary', type='submit') Search


     h3 My Google Maps Demo
    #map
    script.
      function initMap() {
      var uluru = {lat: 37, lng: -100};
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom : 6,
      center: uluru
      });
      }

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EficLF0ZQWEpJ-NqJFdWO5zTu8PeJ1o&callback=initMap')

