doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      #map {
      position:absolute;
      top: 10x;
      height: 500px;
      width: 100%;
      }
  body
    nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Explore
        ul.nav.navbar-nav.navbar-right
          li
            a(href='New_York') Home
          li
            a(href='/setting') Setting
          li
            a(href='/signout', class='text-center new-account') Sign Out
    br
    br
    .jumbotron
      .container
        .row
          .col-sm-6.col-md-3
            a.thumbnail(href='/correlation_search')
              .caption
                h4
                  font(face='verdana') Correlation Search
          .col-sm-6.col-md-3
            a.thumbnail(href='/college_choice')
              .caption
                h4
                  font(face='verdana') College Choice
          .col-sm-6.col-md-3
            a.thumbnail(href='/closest')
              .caption
                h4
                  font(face='verdana') Closest Companies
          .col-sm-6.col-md-3
            a.thumbnail(href='/mongodb_query')
              .caption
                h4
                  font(face='verdana') Mongodb
    #map
    script.
      function initMap() {
      var uluru = {lat: 40.7128, lng: -74.0059};
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom : 10,
      center: uluru
      });
      var results = !{JSON.stringify(results)};
      var infos = !{JSON.stringify(infos)};
      var infowindow = new google.maps.InfoWindow();

      console.log(results);
      for(var i = 0; i< results.length; i++)
      {
         var pos = results[i];
         console.log(pos);
         var marker = new google.maps.Marker({position: pos,map: map});

         google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
          infowindow.setContent(infos[i]);
          infowindow.open(map, marker);
        }
      })(marker, i));

      }
      }

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EficLF0ZQWEpJ-NqJFdWO5zTu8PeJ1o&callback=initMap')

